body 
{
    font-family: 'Lato', sans-serif;
    margin-top: -20px;
	padding-top:75px;
    background-color: #ecf0f1;
}
/** color combo palette
    red e74c3c
    green buton 2ecc71
    gray color: 95a5a6
    dark blue 34495e*/
.wrapper
{
    width: 96%;
	padding: 2%;
    margin: 0 auto;
}
.centerAlign
{
text-align: center;
}
.centered
{
    width: 100%;
    margin: 0 auto;
    
}
/*Bootstrap navbar overrides*/
.navbar-default 
{
	background-color: #e74c3c;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
h1, h3
{
    color: #ecf0f1;
}
#header
{
    background: url(../Content/torontoSilo.png) no-repeat left bottom;
	background-color: #e74c3c;
	margin-top: -20px;
	padding-top:80px;
	min-height: 450px;
	width: 100%;
}
#Browseheader
{
    background: url(../Content/torontoSilo.png) no-repeat left bottom;
	background-color: #e74c3c;
	margin-top: -20px;
	padding-top:50px;
	min-height: 175px;
	width: 100%;
}
@media only screen 
and (min-width : 1224px)
{
    .mySize
    {
        width: 450px;
    }
}
