@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div class="page-header">
    <h2>Welcome</h2>
</div>
    <p class="lead">
        Search for any Canadian bar or restaurant by City, Province, Postal Code, or Street 
        <br />(<em>if you know your current Latitude/Longitude you can also try that!</em>). 
        <br />Example Searches: 
    </p>
        <ul>
            <li>Toronto</li>
            <li>British Colombia</li>
            <li>AB</li>
            <li>M5E 1C7</li>
            <li>47 Colborne St</li>
        </ul>
